.conSide{
    text-align: -webkit-auto;
}
.contact-header{
    
    text-align: -webkit-auto;
  
}
.headertext{
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.conSide h2{
    margin-bottom: 30px;
    font-size: 20px;
    
 
}
 