*{
    margin-top: 0px;
}
.ws-1{
    text-align: center;
    color: var(--h1_typography-color);
}
.ws-3{
    font-size: 40px;
    line-height: 1.5;
    text-align: center!important;
    padding-top: 25px;
    padding-bottom: 25px;
   font-weight: 700;
}
.ws-4{
    margin-bottom: 20px;
    text-align: justify;
}
.ws-5{
    padding: 13px 29px;
    font-size: 17px raleway;
    margin-bottom: 30px;
}
.ws-6{
    text-align: center;
    color: #202020;
}
.ws-7{
    text-align: center;
    
    margin-bottom: 20px;
}
.anmn-1{
    background-color: #202020;
    height: 135px;
}
.anmn-2{
    padding-top: 35px;
    color: #48c1c0;
    text-align: center;
    font-size: 30px;
    
    line-height: 1.5;
    
}
.anmn-3{
    margin-top: 40px;
}
.anmn-4{
    font-size: 30px;
    font-weight: 400;
    color: #202020;
    padding-bottom: 27px;
}
.anmn-5{
    color: #3884cf;
}
.anmn-6{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #202020;
    padding-bottom: 27px;
}